.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20vh;
  }

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    width: 300px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-title {
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.card-input {
    margin-bottom: 15px;
}